.inline{
    display: inline;
}

.timeLine{
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    max-width: 500px;
    max-height: 850px;
    overflow: auto;
}

.tweet {
  
    background-color: #FFF;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}


.cadre {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    max-width: 400px;
    background-color: orange;
    padding: 5px;
    border-radius: 3px;
}

.cadreBtn{
    background-color: white;
    border-top: solid 5px orange;
    padding: 7px;
}

.date{
    float: right;
}


.cadre:hover{
    background-color: rgb(255, 153, 0)
}


.username{
    float: right;
    font-size: 17px;
    margin-right: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.points{
    display: inline;
    font-size: 20px;
    font-weight: 700;
}

.picture {
    border-radius: 5px;
    margin-top: 10px;
    max-width: 100%;
    max-height: 100%;
}

a
{
    text-decoration: none;
    color: black;
}

.tweet-click{
    display: block;
}

/*
[class*="col-"], footer {
 
  border: 2px solid black;
  border-radius: 6px;
  
}*/
