.timeLine{
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    max-width: 500px;
}

.tweet {
  
    background-color: #FFF;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.cadre {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    max-width: 400px;
    background-color: orange;
    padding: 5px;
    border-radius: 3px;
}

.cadre:hover{
    background-color: rgb(255, 153, 0)
}


.username{
    padding: 7px;
    margin-right: 50px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.picture {
    max-width: 100%;
    max-height: 100%;
}

a
{
    text-decoration: none;
    color: black;
}

.tweet-click{
    display: block;
}

/*
[class*="col-"], footer {
 
  border: 2px solid black;
  border-radius: 6px;
  
}*/
