body{
    background-image: url(../image/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;   
}

.header{
    margin: 10px auto;
    width: 100%;
    height: fit-content;
    max-height: max-content;
    background: orange;    
}
.sidebar{
    margin: 2%;
    float: left;
    background-color: rgb(249,203,156);
    width: 20%;
    height: max-content;
    border: solid;
    border-color: orange;
}
#stream{
    float: left;
    margin-left: 30%;
    margin-top: 2%;
    width: 50%;
    float: inherit;
}
#poster{
    float: left;
    margin-left: 30%;
    margin-top: 2%;
    width: 50%;
    float: inherit;
}

#user{
    width: 60%;
    border: solid;
    border-color: orange;
    background-color: whitesmoke;
    font-size: 25px;
    margin: 10px ;   
    
}
#text{
    width: 98%;
    height: fit-content;
    border-style: solid;
    border-color: orange;
    border-radius: 10px;
    background-color: whitesmoke;
    font-size: 15px;
    margin: auto ; 
    padding: 7px;
}
.btn_tweet{
    border: 0;
    background-color: rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    text-align: center;
    width: fit-content;
    outline: none;
    border: solid;
    border-color: orange;
    transition: 0.5s;
    margin: 10px;
}
.btn_tweet:hover{
    border-radius: 20px;
}
.submit-btn{
    font-size: 20px;
    border: 0;
    background-color: orange;
    background: orange;
    display: block;
    margin: 5% auto;
    text-align: center;
    width: 60% ;
    height: 60px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 2px; 
    border: solid;
}
.submit-btn:hover{
    background: transparent;   
}
.deco-btn{
    font-size: 20px;
    border: 0;
    background-color: orange;
    background: orange;
    display: block;
    margin-top: 50% ;
    margin-bottom: 5%;
    text-align: center;
    width: 60% ;
    height: 60px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 2px; 
    border: solid;
}
.deco-btn:hover{
    background: transparent;
}


.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-image: url("../image/Baniere/tuning.jpg");
    border-bottom: 10px solid #f9cb9c;
}

.username-profile {
    color: black;
    font-size: 30px;
}

.banniere{
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 110px;
}

.center-element{
    text-align: center;
    margin-top : -100px ;
}

.circle {

    background-image: url("../image/ProfilPicture/valou.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    border-radius:50%;
    border:7px solid #f9cb9c; 
    display: inline-block;
    padding: 100px;

}

.biographie{
    padding: 30px;
    text-align: 18px;
    color: black;
}
#titre{
    margin: 20px auto;
}
h1{
    font-size: 105px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
}
#under_titre{
    margin: 10px auto;
}
h2{
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
}
#logo{
    background-image: url(../image/LOGO.png);
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    margin: 20px auto;
    transition: 0.5s;
}
#logo:hover{
    width: 350px;
    height: 350px;
}
.submit-btn_co{
    font-size: 30px;
    border: 0;
    background-color: orange;
    background: orange;
    display: block;
    margin: 5% auto;
    text-align: center;
    width: 40% ;
    height: 70px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 10px; 
    border: solid;
    transition: 0.5s;
}
.submit-btn_co:hover{
    background: transparent; 
    width: 45%;  
}
.content{
    width:  100%;
    height: fit-content;
    background-color: rgb(249, 203, 156);
    border: solid;
    border-color: orange;
    margin: 25px auto;
}
.titre{
    width: 80%;
    border: solid;
    border-color: orange;
    background-color: rgb(246, 178, 107);
    font-size: 45px;
    margin: 20px auto;
}
.sous_titre{ 
    width: fit-content;
    border: solid;
    border-color: orange;
    background-color: rgb(246, 178, 107);
    font-size: 20px;
    margin-top: 15px;
}
.input{
    margin-bottom: 10px;
    width: 90%;
    height: 60px;
    border: 0; 
    border-radius: 0;
}
.input_tweet{
    margin-bottom: 10px;
    width: 450px;
    height: 50px;
    border-color: black;
}
.submit{
    font-size: 35px;
    border: 0;
    background-color: rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    display: block;
    text-align: center;
    width: fit-content ;
    height: 60px;
    outline: none;
    border: solid;
    border-color: orange;
    margin: 25px auto;
    transition: 0.5s;
}


/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*-----------------------------------------------------------------------------------   CSS D'UN TWEET  ---------------------------------------------------------------------------------------
 --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/ 

.tweet-container {
    font-family: 'Montserrat', sans-serif;

}
 .timeLine{
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    max-height: 850px;
}

.tweet {
    font-size: 19px;
    background-color: #FFF;
    padding: 20px;
}


.cadre {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 100%;
    background-color: orange;
    padding: 5px;
    border-radius: 3px;
}

.cadreBtn{
    background-color: white;
    border-top: solid 5px orange;
    padding: 7px;
}

.date{
    float: right;
}


.cadre:hover{
    background-color: rgb(255, 153, 0)
}


.username{
    font-size: 18px;
    margin-right: 40px;
    float: right;
    text-align: right;
        font-weight: 700;
}

.points{
    font-size: 20px;
    font-weight: 700;
}

.picture {
    border-radius: 5px;
    margin-top: 10px;
    max-width: 100%;
    max-height: 100%;
}

a
{
    text-decoration: none;
    color: black;
}

.tweet-click{
    display: block;
}

/* BOUTON POSTER */ 

.poster{

    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-image: url("../image/img/plus_orange.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-color: white;
    border: solid 3px orange;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
}

