
.header{
    margin: 10px auto;
    width: 100%;
    height: 40px;
    max-height: max-content;
    background: orange;    
}

.sidebar{
    margin: 2%;
    float: left;
    background-color: rgb(249,203,156);
    width: 20%;
    height: max-content;
    border: solid;
    border-color: orange;
}
.content{
    display: flex;
    flex-direction: column;
    margin: 2% auto;
    width: 45%;
    height: max-content;
    background-color: orange;
    
}
.submit-btn{
    font-size: 20px;
    border: 0;
    background-color: orange;
    background: orange;
    display: block;
    margin: 5% auto;
    text-align: center;
    width: 60% ;
    height: 60px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 2px; 
    border: solid;
}
.submit-btn:hover{
    background: transparent;   
}
.deco-btn{
    font-size: 20px;
    border: 0;
    background-color: orange;
    background: orange;
    display: block;
    margin-top: 50% ;
    margin-bottom: 5%;
    text-align: center;
    width: 60% ;
    height: 60px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 2px; 
    border: solid;
}
.deco-btn:hover{
    background: transparent;
}
.bouton{
    
}
.text{

}
.date{   
    
}
.user{
    
}