/*Inspiration from: Tomas Jasovsky (https://dribbble.com/shots/756012-Spicy-navbar 

P.S: Eeedback appreciated :)*/

*{
  filter:inverse(100%);
    transition: all .2s ease;
  }
  
  .fa-twitter
  {
    font-size: 80px;
    padding-top:100px;
    color:#1da1f2;
    text-shadow: 0px 0px 10px #1da1f2;
  }
  .tweet {
      margin-top: 100px;
    }
  .list {
      color: #fff;
      list-style: none;
      padding-left: 0px;
      display:block;
  }
  .list> li{
      padding:20px 30px;
      display:inline;
      font-size:28px;
      margin:-1px;
      color:#2E3037;
      background: linear-gradient(#5d606d,#2b2d33);
     
  }
  .list> li:first-of-type
  {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  
  }
  .list> li:last-of-type
  {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .list>li:hover {
      color:red;
      text-shadow: 2px 2px 10px #C90101;
      background: linear-gradient(#383A43,#151619);
      border:1px solid #424448;
   
  
      padding:22px 30px;
      cursor:pointer;
  }
 
#yolo{
  background-color: #445eac;
  width: 400px;
  height: 200px;
  transition: 0.5s;
  margin: 10px auto;
}
#yolo:hover{
  width: 500px;
  border-radius: 50px;
}